*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw; /* ajusta a posição dos itens como nav, main e footer*/ 
    margin: 3px;
}

header, nav, main,footer{
    background-color: #ffffff;
    display: flex;
    padding: 20px 20px 20px;
    margin: 3px;
}

header{
    flex: 1 1 100vw;
}

header #marca{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large; 
    font-weight: bolder;
    color: #740097;
    flex: 0 1 200px; /* ajusta a posição dos itens como nav, main e footer*/
}

#menuaberto, #menufechado{
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none; /* oculta o ícone menu aberto e fechado*/
}

nav a{
    margin: 0 3%;
    font-size: 15pt;
}

nav{
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px; /* ajusta a posição dos itens como nav, main e footer*/
}

main{
    flex: 20 1 500px; /* ajusta a posição dos itens como nav, main e footer*/
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

}

.card{
    /*flex: 1 1 calc(33.33% - 16px);*/
    background-color: rgb(240, 237, 243);
    border-radius: 10px;
    box-shadow: 0 4px 8px rba(0, 0, 0, 0.5);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
    padding: 5px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text h2{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    word-wrap: break-word;
}

.btn{
    display: inline-block;
    padding: 10px 20PX;
    background-color: #ae91f1;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none; /* se for um link ele tira o sublinhado da palavra */
    border-radius: 100px;
    margin: 10px 10px 10px 10px;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #c56edf;
}

.card-texto p{
    color: #000;
    font-size: 16px;
    margin: 0; 
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    flex: 1 1 100vw;
    background-color: #6A5997;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    display:inline-block
}

 .lista{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #740097;
    font-weight: 500;
    padding: 10px;
    transition: background-color 0.3s;
}

 .lista:hover{
   color: #bb0070;
}

.contato{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fface3;
    font-weight: 500;
    padding: 10px;
    transition: background-color 0.3s; }

    .contato:hover{
        color: #bb97ff;
     }

     .contato::before, .lista::before{
        color: rgb(132, 255, 255);
     }

/* Responsividade para telas menores */
@media only screen and (max-width: 968px) {
    .card {
        flex: 1 1 calc(50% - 16px); /* Dois cards por linha */
    }

    #menuaberto, #menufechado{
        display: block;
    }

    #menuaberto{
        margin-left: auto;
    }

    #menufechado{
        position: fixed;
        right: 15px;
        left: 15px;
        top: 15px; 
        display: none;
    }
    nav{ /* ajuste da navbar para ficar com o menu sanduíche quando tiver a tela reduzida*/
        position: fixed;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }

    nav a{
        margin: 3%;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Um card por linha */
    }
}